#日志配置
#默认  logs 目录  info等级
logger:
  logger_path: logs
  logger_level: info

aliyun:
  endpoint: "alidns.xxxxxx.aliyuncs.com"
  access_key_id: "-" # 阿里云 key id
  access_key_secret: "-" # 阿里云 key id
app:

  update_wait_time: 120
  net_name: "wlp5s0" # ip addr 需要查询ipv6 的接口
# 设置 记录储存的 配置文件 支持 yaml json
# 空则默认 record.yaml 
records_file: "my_record.yaml"

# 设置 unix sock 路径
# 空则 默认 当前路径 pio_grpc_ddns.sock
unix_sock: "pio_grpc_ddns.sock"
# esxi 相关配置
esxi:
  url: "https://192.168.1.2" # esxi 的 后台地址
  username: "root"
  password: "1234678"
  insecure: true